* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

body, html {
  overflow-x: hidden;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#394960), color-stop(#313f54), color-stop(#293448), color-stop(#212a3d), to(#192132));
  background-image: linear-gradient(to right top, #394960, #313f54, #293448, #212a3d, #192132);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.active {
  color: #fc036b;
  text-decoration: underline;
}

a:hover {
  color: #ffffff;
}

.navBar {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  color: whitesmoke;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.nav-links li {
  margin: 0 30px;
}

li .ctn {
  padding: 8px 15px;
  background: #fc036b;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.line {
  width: 100px;
  height: 2px;
  background: #fc036b;
  margin: 10px auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

header {
  background-image: url("../assets/img/header-bg.jpg");
  width: 100vw;
  height: 75vh;
  background-position: bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
}

.header-content {
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}

.header-content h3 {
  font-size: 3vmin;
}

.header-content h2 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}

section .master {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  width: 80%;
  margin: 80px;
}

section .imagenAnimado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  text-align: center;
  font-size: 4vmin;
  color: #49497e;
}

.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.row1 .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.master .row1 {
  margin-top: 95px;
}

h4 {
  font-size: 3vmin;
  color: whitesmoke;
  margin: 20px auto;
}

.master .border {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.col1 .space {
  color: whitesmoke;
  padding: 0px 40px;
}

p .space {
  color: whitesmoke;
  padding: 0px 40px;
}

.card01 {
  position: relative;
  width: 340px;
  height: 250px;
  color: #a18a96;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 10px;
  background: url("../assets/img/Marketing digital.jpg") center no-repeat;
  background-size: cover;
  border-radius: 20px;
  z-index: 1;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card01::before,
.card01::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(60% + 35px);
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.5s 0.25s ease-in;
  transition: -webkit-transform 0.5s 0.25s ease-in;
  transition: transform 0.5s 0.25s ease-in;
  transition: transform 0.5s 0.25s ease-in, -webkit-transform 0.5s 0.25s ease-in;
  z-index: -1;
}

.card01::before {
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.card01::after {
  bottom: 0;
  -webkit-clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.card__content {
  opacity: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.card__title {
  color: #6A515E;
  margin-bottom: 15PX;
}

.card__description {
  font-size: 14px;
}

.card01:hover::before,
.card01:hover::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card01:hover .card__content {
  opacity: 1;
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}

.card02 {
  position: relative;
  width: 290px;
  height: 250px;
  color: #a18a96;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 10px;
  background: url("../assets/img/edicion de video.jpg") center no-repeat;
  background-size: cover;
  border-radius: 20px;
  z-index: 1;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card02::before,
.card02::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(60% + 35px);
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.5s 0.25s ease-in;
  transition: -webkit-transform 0.5s 0.25s ease-in;
  transition: transform 0.5s 0.25s ease-in;
  transition: transform 0.5s 0.25s ease-in, -webkit-transform 0.5s 0.25s ease-in;
  z-index: -1;
}

.card02::before {
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.card02::after {
  bottom: 0;
  -webkit-clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.card__content {
  opacity: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.card__title {
  color: #6A515E;
  margin-bottom: 15PX;
}

.card__description {
  font-size: 14px;
}

.card02:hover::before,
.card02:hover::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card02:hover .card__content {
  opacity: 1;
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}

.card03 {
  position: relative;
  width: 340px;
  height: 250px;
  color: #a18a96;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 10px;
  background: url("../assets/img/desarrollo web.jpg") center no-repeat;
  background-size: cover;
  border-radius: 20px;
  z-index: 1;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card03::before,
.card03::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(60% + 35px);
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.5s 0.25s ease-in;
  transition: -webkit-transform 0.5s 0.25s ease-in;
  transition: transform 0.5s 0.25s ease-in;
  transition: transform 0.5s 0.25s ease-in, -webkit-transform 0.5s 0.25s ease-in;
  z-index: -1;
}

.card03::before {
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.card03::after {
  bottom: 0;
  -webkit-clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.card__content {
  opacity: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.card__title {
  color: #6A515E;
  margin-bottom: 15PX;
}

.card__description {
  font-size: 14px;
}

.card03:hover::before,
.card03:hover::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card03:hover .card__content {
  opacity: 1;
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}

.containerM {
  position: relative;
  width: 350px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 13px;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.containerM .card {
  position: relative;
  max-width: 320px;
  height: 200px;
  background: #e2e2e4;
  margin: 15px 15px;
  padding: 4px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.containerM .card:hover {
  height: 270px;
}

.containerM .card .img {
  position: relative;
  width: 270px;
  height: 300px;
  top: -20px;
  left: 2px;
}

.containerM .card .img img {
  max-width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.containerM .card .content {
  position: relative;
  margin-top: -260;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.containerM .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -5px;
}

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 250px;
}

#galeria img:hover {
  border: 5px solid whitesmoke;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: 18rem;
  height: 310px;
}

.clod-md-4 .card img:hover {
  border: 5px solid whitesmoke;
}

.contacto {
  position: relative;
  width: 100%;
  padding: 10px 100px;
}

.contacto .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
}

.contacto .titulo h2 {
  font-weight: 200;
  color: whitesmoke;
}

.form {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: form;
}

.info {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info;
}

.map {
  grid-area: map;
}

.contacto {
  padding: 20px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#394960), color-stop(#313f54), color-stop(#293448), color-stop(#212a3d), to(#192132));
  background-image: linear-gradient(to right top, #394960, #313f54, #293448, #212a3d, #192132);
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box {
      grid-template-areas: "form info" "form mapa";
  position: 5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5, auto;
      grid-template-columns: 5, auto;
  -ms-grid-rows: 5, auto;
      grid-template-rows: 5, auto;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 50px;
  color: whitesmoke;
}

.contacto h2 {
  color: whitesmoke;
  font-weight: 200;
  font-size: 50px;
  text-align: center;
}

.contacto h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
  font-weight: 200;
  font-size: 6vmin;
}

.locations {
  color: whitesmoke;
}

h5 {
  color: #060606;
  text-align: center;
  font-size: 25px;
}

.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  color: #dfe9ed;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox input {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #333;
}

.inputBox select {
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: 1px solid #333;
}

.inputBox textarea {
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.inputBox input[type="submit"] {
  background: #18b7ff;
  color: white;
  border: 20px;
  font-size: 18px;
  max-width: 120px;
  cursor: pointer;
}

.inputBox input[type="reset"] {
  background: #18b7ff;
  color: white;
  font-size: 18px;
  max-width: 120px;
  cursor: pointer;
}

.info h5 {
  color: whitesmoke;
}

.info .infoBox div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  color: whitesmoke;
  background-color: #18b7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 15px;
}

.info .infoBox div p {
  color: whitesmoke;
  font-size: 1.1em;
}

.info .infoBox div a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.1em;
}

.socialMedia {
  font-size: 3em;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mapa {
  padding: 0;
}

iframe {
  width: 100%;
  height: 50vh;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  background-color: #131f37;
}

.text-lg-start {
  color: whitesmoke;
}

.text-lg-end a {
  color: whitesmoke;
}

.colorRojo {
  color: red;
}

.modal-body a:hover {
  color: #49497e;
  text-decoration: none;
}

.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 850px) {
  .menu-btn {
    display: block;
  }
  .navBar {
    padding: 0;
  }
  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: -webkit-gradient(linear, right bottom, left top, from(#2c2a4f), color-stop(#4e3265), color-stop(#773774), color-stop(#a3387a), to(#cd3977));
    background-image: linear-gradient(to left top, #2c2a4f, #4e3265, #773774, #a3387a, #cd3977);
    margin-top: -1200px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  .mobile-menu {
    margin-top: 0px;
    border-bottom-right-radius: 30%;
  }
  .nav-links li {
    margin: 30px auto;
  }
  .row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row1 .col1 {
    margin: 20px auto;
  }
  .col1 img {
    max-width: 90%;
  }
  .containerM {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 992px) {
  .contacto {
    padding: 20px;
  }
  .box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "form" "info" "mapa";
  }
  .mapa {
    min-height: 300px;
  }
  .formBox .row50 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inputBox {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */