*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// inicio mixin
@mixin bg ($wth , $hht , $bgp , $bgs , $dis , $align , $just)
{
    width: $wth;
    height: $hht;
    background-position: $bgp;
    background-size: $bgs;
    display: $dis;
    align-items: $align;
    justify-content: $just;
}

@mixin grid( $columnas, $ps , $espacio , $mgtp , $mgbt)
{
    position: $ps;
    display: grid;
    grid-template-columns: ($columnas, auto);
    grid-template-rows: ($columnas, auto);
    gap: $espacio;
    margin-top: $mgtp;
    margin-bottom: $mgbt;
}

@mixin flexbox-column-display(
    $flex-direction: column,
    $justify-content: center,
    $align-items: stretch
) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
// fin mixin

// variables
$colores:(
    "blanco" : white,         "grisc2" : #484872,     "BlancoC" : #dfe9ed, "rosac2":#AC215B,
    "rosacl" : #fc036b,       "blanc3" : #e2e2e4,     "grisR" : #333,
    "blanco2" :#ffffff,       "negro" : #111,         "violetaO" : #66337f,
    "humblanco" :whitesmoke,  "azulos" : #1c1b29,     "grisN":#353434,
    "rosar" :#fc036b,         "grisclaro" : #a0a0a0,  "rojo" : red,
    "grisc" : #49497e,        "azulcla" : #131f37,    "grisM":#525151,
);

$titulos:(
    h2:50px,
    h3:3vmin,
);

$h2:map-get($titulos , h2);
$h3:map-get($titulos, h3);

%f-prop{
    width: 100%;
    height: 100%;;
}
// fin de variables

body, html{
    overflow-x: hidden;
    background-image: linear-gradient(to right top, #394960, #313f54, #293448, #212a3d, #192132);
}

a{
    text-decoration: none;
    color: map-get($colores , "blanco" );
}

// navbar
ul{
    list-style: none;
}

.active{
    color: map-get($colores, "rosacl" );
    text-decoration: underline;
}

a:hover{
    color: map-get($colores, "blanco2" );
}

.navBar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: map-get($colores, "humblanco" );
}

.nav-links{
    display: flex;
    align-self: center;
}

.nav-links li{
    margin: 0 30px;
}

li .ctn{
    padding: 8px 15px;
    background: map-get($colores, "rosacl" );
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.line{
    width: 100px;
    height: 2px;
    background: map-get($colores, "rosacl" );
    margin: 10px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
// fin navbar

// header
header{
    background-image: url('../assets/img/header-bg.jpg');
    @include bg(100vw, 75vh, bottom, cover, flex, flex-end,center );
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: map-get($colores, "humblanco" );
}

.header-content{
    margin-bottom: 150px;
    color: map-get($colores, "humblanco" );
    text-align: center;
}

.header-content h3{
    font-size: $h3;
}

.header-content h2{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
// Fin header

// Secciones
section .master{
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    width: 80%;
    margin: 80px;
}

section .imagenAnimado{
    display: flex;
    align-items: center;
    justify-content: center;

}
.title{
    text-align: center;
    font-size: 4vmin;
    color: map-get($colores, "grisc" );
}

.row1{
    display: flex;
    align-items: center;
    width: 100%;
}

.row1 .col1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.master .row1{
    margin-top: 95px;
}

h4{
    font-size: 3vmin;
    color: map-get($colores, "humblanco" );
    margin: 20px auto;
}

.master .border{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.col1 .space{
    color: map-get($colores, "humblanco" );
    padding: 0px 40px;
}

p .space{
    color: map-get($colores, "humblanco" );
    padding: 0px 40px;
}
// Fin secciones

// Cards 01
.card01 {
    position: relative;
    width: 340px;
    height: 250px;
    color: #a18a96;
    text-align: center;
    display: grid;
    place-content: center;
    padding: 10px;
    background: url('../assets/img/Marketing digital.jpg') center no-repeat;
    background-size: cover;
    border-radius: 20px;
    z-index: 1;
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card01::before,
.card01::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60% + 35px);
    background-color: #fff;
    transition: transform .5s.25s ease-in;
    z-index: -1;
}

.card01::before {
    top: 0;
    clip-path:
        polygon(0 0, 100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}

.card01::after {
    bottom: 0;
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(100%);
}

.card__content {
    opacity: 0;
    transition: opacity .25s;
}

.card__title {
    color: #6A515E;
    margin-bottom: 15PX;
}

.card__description {
    font-size: 14px;
}

.card01:hover::before,
.card01:hover::after {
    transform: translateY(0);
}

.card01:hover .card__content {
    opacity: 1;
    transition-delay: .75s;
}
// Fin de card01

// Cards 02
.card02 {
    position: relative;
    width: 290px;
    height: 250px;
    color: #a18a96;
    text-align: center;
    display: grid;
    place-content: center;
    padding: 10px;
    background: url('../assets/img/edicion de video.jpg') center no-repeat;
    background-size: cover;
    border-radius: 20px;
    z-index: 1;
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card02::before,
.card02::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60% + 35px);
    background-color: #fff;
    transition: transform .5s.25s ease-in;
    z-index: -1;
}

.card02::before {
    top: 0;
    clip-path:
        polygon(0 0, 100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}

.card02::after {
    bottom: 0;
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(100%);
}

.card__content {
    opacity: 0;
    transition: opacity .25s;
}

.card__title {
    color: #6A515E;
    margin-bottom: 15PX;
}

.card__description {
    font-size: 14px;
}

.card02:hover::before,
.card02:hover::after {
    transform: translateY(0);
}

.card02:hover .card__content {
    opacity: 1;
    transition-delay: .75s;
}
// Fin de card02

// Cards 03
.card03 {
    position: relative;
    width: 340px;
    height: 250px;
    color: #a18a96;
    text-align: center;
    display: grid;
    place-content: center;
    padding: 10px;
    background: url('../assets/img/desarrollo web.jpg') center no-repeat;
    background-size: cover;
    border-radius: 20px;
    z-index: 1;
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card03::before,
.card03::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60% + 35px);
    background-color: #fff;
    transition: transform .5s.25s ease-in;
    z-index: -1;
}

.card03::before {
    top: 0;
    clip-path:
        polygon(0 0, 100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}

.card03::after {
    bottom: 0;
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(100%);
}

.card__content {
    opacity: 0;
    transition: opacity .25s;
}

.card__title {
    color: #6A515E;
    margin-bottom: 15PX;
}

.card__description {
    font-size: 14px;
}

.card03:hover::before,
.card03:hover::after {
    transform: translateY(0);
}

.card03:hover .card__content {
    opacity: 1;
    transition-delay: .75s;
}
// Fin de card03

// Cards animadas
.containerM{
    position: relative;
    width: 350px;
    display: inline-flex;

    justify-content: center;
    
    align-items: center;
    flex-wrap: wrap;
    padding: 13px;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.containerM .card{
    position: relative;
    max-width: 320px;
    height: 200px;
    background: map-get($colores, "blanc3" );
    margin: 15px 15px;
    padding: 4px 5px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.containerM .card:hover{
    height: 270px;
}

.containerM .card .img{
    position: relative;
    width: 270px;
    height: 300px;
    top: -20px;
    left: 2px;
}

.containerM .card .img img {
    max-width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.containerM .card .content{
    position: relative;
    margin-top: -260;
    padding: 10px 15px;
    text-align: center;
    color: map-get($colores, "negro" );
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.containerM .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -5px;
}
// fin de card animadas

// Sobre mi
#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}

#galeria img{
    width: 100%;
    height: 250px;
}

#galeria img:hover{
    border: 5px solid map-get($colores, "humblanco" );
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 18rem;
    height: 310px;
}

.clod-md-4 .card img:hover{
    border: 5px solid map-get($colores, "humblanco" );
}
// Fin Sobre mi 

// Contacto
.contacto{
    position: relative;
    width: 100%;
    padding: 10px 100px;
}

.contacto .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.contacto .titulo h2{
    font-weight: 200;
    color: map-get($colores, "humblanco" );
}

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.map{
    grid-area: map;
}

.contacto{
    padding: 20px;
    background-image: linear-gradient(to right top, #394960, #313f54, #293448, #212a3d, #192132);
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}

.box{
    grid-template-areas: "form info" "form mapa";
    @include grid( 5, 5, 20px, 20px, 40px);
}

h2{
    margin-bottom: 50px;
    color: map-get($colores, "humblanco" );
}

.contacto h2{
    color: map-get($colores, "humblanco" );
    font-weight: 200;
    font-size: $h2;
    text-align: center;
}

.contacto h3
{
    display: flex;
    justify-content: center;
    color: map-get($colores, "humblanco" );
    font-weight: 200;
    font-size: 6vmin;
}

.locations{
    color: map-get($colores, "humblanco" );
}

h5 {
    color: rgb(6, 6, 6);
    text-align: center;
    font-size: 25px;
}

// Formulario
.formBox{
    position: relative;
    width: 100%;

}
.formBox .row50{
    display: flex;
    gap: 20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span{
    color: map-get($colores, "BlancoC" );
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 18px;
    border: 1px solid map-get($colores, "grisR" );
}

.inputBox select{
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: 1px solid map-get($colores, "grisR" );
}

.inputBox textarea{
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: 1px solid map-get($colores, "grisR" );
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"]
{
    background: #18b7ff;
    color: white;
    border: 20px;
    font-size: 18px;
    max-width: 120px;
    cursor:  pointer;
}

.inputBox input[type="reset"]{
    background: #18b7ff;
    color: white;
    font-size: 18px;
    max-width: 120px;
    cursor:  pointer;
} 
// Fin Formulario

// seccion Info Contacto
.info h5{
    color: map-get($colores, "humblanco" );
}

.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: map-get($colores, "humblanco" );
    background-color: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p{
    color: map-get($colores, "humblanco" );
    font-size: 1.1em;
}

.info .infoBox div a{
    color: map-get($colores, "humblanco" );
    text-decoration: none;
    font-size: 1.1em;
}

.socialMedia{
    font-size: 3em;
    margin-top: 90px;
    display: flex;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
}

.mapa{
    padding: 0;
}

iframe{
    width: 100%;
    height: 50vh;
}
// Fin seccion Info
// Fin contacto

// Carousel
.carousel-inner img {
    @extend %f-prop;
}
// Fin Carousel

// Footer
.footer {
    text-align: center;
    font-size: 0.9rem;
    background-color: #131f37;
}

.text-lg-start{
    color: map-get($colores, "humblanco" );
}

.text-lg-end a{
    color: map-get($colores, "humblanco" );
}

.colorRojo{
    color: map-get($colores, "rojo" );
}

.modal-body a:hover{
    color: map-get($colores, "grisc" );
    text-decoration: none;
}
// Fin Footer

// Menu NavBar
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
// Fin menu Navbar

// Media Querys
@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navBar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-image: linear-gradient(to left top, #2c2a4f, #4e3265, #773774, #a3387a, #cd3977);
        margin-top: -1200px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li {
        margin: 30px auto;
    }
    // Secciones
    .row1{
        flex-direction: column;
    }
    .row1 .col1{
        margin: 20px auto;
    }
    .col1 img {
        max-width:90% ;
    }
    .containerM{
        flex-direction: column;
        align-items: center;
    }
    
}

// Contacto
@media (max-width: 992px)
{

    .contacto
    {
        padding: 20px;
    }
    .box
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "form" "info" "mapa";
    }
    .mapa
    {
        min-height: 300px;
    }
    .formBox .row50
    {
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox
    {
        width: 100%;
    }
}
// Fin media Querys